body{
font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #000000;
  background-color:powderblue;
  background-repeat:no-repeat;
  background-size: 100%;

}
h1{
margin:5px;
text-align: center;
text-decoration:underline;
}
hr{
  color: #a9a9a9;
  opacity: 0.3;
}
.panel-body{
align-content: center;
 margin: 20px auto;
  width: 360px;
  height: 475px;
  -webkit-border-radius: 8px/7px;
  -moz-border-radius: 8px/7px;
  border-radius: 8px/7px;
  /* background-color: #ebebeb;  */
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
  box-shadow: 1px 1px 4px rgba(0,0,0,.31);
  border: solid 1px #cbc9c9;
  background-color:#FFFFFF;
}
.errorlist{
  visibility: hidden;
}
#id_email,#id_password{
  width: 320px;
  height: 30px;
  -webkit-border-radius: 0px 4px 4px 0px/5px 5px 4px 4px;
  -moz-border-radius: 0px 4px 4px 0px/0px 0px 4px 4px;
  border-radius: 0px 4px 4px 0px/5px 5px 4px 4px;
  background-color: #fff;
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
  box-shadow: 1px 2px 5px rgba(0,0,0,.09);
  border: solid 1px #cbc9c9;
  margin-left: 15px;
  margin-top: 10px;
  padding-left: 10px;
}
button{
font-size: 14px;
  font-weight: 650;
  color: white;
  text-align: center;
  padding: 6px 25px 0px 20px;
  display: inline-block;
  float: left;
  text-decoration: none;
  width: 320px;
  height: 35px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #000000;
  -webkit-box-shadow: 0 3px #000000;
  -moz-box-shadow: 0 3px #000000;
  box-shadow: 0 3px #000000;
  transition: all 0.1s linear 0s;
  top: 0px;
  margin-left:15px;
  margin-top:30px;
  margin-bottom:50px;
}
label{
font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 720;
  color: #000000;
  position: relative;
  margin-left:10px;
  text-decoration:underline;


}
button:hover {
  top: 3px;
  background-color:#292828;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-decoration:underline;
}
p {
  font-size: 16px;
  width: 300px;
  margin-top: 8px;
  display: inline;
  float:inline-end;
  font-weight: bold;
  margin-left: 18px;
}