{% extends "hostel/dashboard.html" %}
{%block nav-home%}
<style>
    input {
        background-color: #e0e0e0;
    }

    .submitbtn {
        font-size: 14px;
        font-weight: 650;
        color: white;
        text-align: center;
        padding: 6px 25px 0px 20px;
        display: inline-block;
        text-decoration: none;
        width: 250px;
        height: 35px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background-color: #1def45;
        -webkit-box-shadow: 0 3px #4eb145;
        -moz-box-shadow: 0 3px #4eb144;
        box-shadow: 0 3px #4eb14e;
        transition: all 0.1s linear 0s;
        top: 0px;
        margin-left: 15px;
        margin-top: 30px;
        margin-bottom: 50px;
    }

    .submitbtn:hover {
        top: 3px;
        background-color: #1de21d;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        text-decoration: underline;
    }
</style>
<li>
    <a href="{%url 'hostel:postlogin'%}"><span class="fa fa-home mr-3"></span> Homepage</a>
</li>
{%endblock%}
{%block nav-changepassword%}
<li class="active">
    <a href="{%url 'hostel:changepassword'%}"><span class="fa fa-sticky-note mr-3"></span> change password</a>
</li>
{%endblock%}

{%block content%}
<div>
    <form action="" method="post">
        {%csrf_token%}
        <p><h5><b>Old password:</b></h5> {{form.old_password}}</br></p>
        <hr>
        <p><h5><b>new Password:</b></h5> {{form.new_password1}}</br></p>
        <hr>
        <p><h5><b>Confirm password:</b></h5> {{form.new_password2}}</br></p>
        <hr>
        <p>{{form.errors}}</p>

        <p>
            <button class="submitbtn" type="Submit" >Submit</button>
        </p>
    </form>

</div>
{%endblock%}


