<!doctype html>
{%load static%}
<html lang="en">
<head>
    <title>Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'sidebar/css/style.css'%}">
</head>
<body>

<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
        <div class="custom-menu">
            <button type="but+ton" id="sidebarCollapse" class="btn btn-primary">
                <i class="fa fa-bars"></i>
                <span class="sr-only">Toggle Menu</span>
            </button>
        </div>
        <h1><a href="index.html" class="logo">Dashboard</a></h1>
        {%block nav%}
        <ul class="list-unstyled components mb-5">
            {%block nav-home%}
            <li class="active">
                <a href="#"><span class="fa fa-home mr-3"></span> Homepage</a>
            </li>
            {%endblock%}

            {%block nav-friends%}
            <li>
                <a href="{%url 'hostel:logout'%}"><span class="fa fa-power-off mr-3"></span> Logout</a>
            </li>
            {%endblock%}
            {%block nav-changepassword%}
            <li>
                <a href="{%url 'hostel:changepassword'%}"><span class="fa fa-lock mr-3"></span>Change Password</a>
            </li>
            {%endblock%}
<!--            {%block nav-dashboard%}-->
<!--            <li>-->
<!--                <a href="{%url 'hostel:update'%}"><span class="fa fa-upload mr-3"></span>Update Profile</a>-->
<!--            </li>-->
<!--            {%endblock%}-->
        </ul>
        {% endblock %}
    </nav>

    <!-- Page Content  -->

    <div id="content" class="p-4 p-md-5 pt-5">
        {%block header%}<h3 class="mb-4"><i>HELLO <b><u style="font-size: 24px">&nbsp;&nbsp;  {{user.username}}</u></b>
    </h3></i>{%endblock%}
        {%block content%}
        <div class="testbox">
            <b>First Name :</b><br>
            <h4>{{user.first_name}}</h4>
            <hr>
            <b>Last Name : </b><br>
            <h4>{{user.last_name}}</h4>
            <hr>
            <!--<b>Gender : </b><br>
            <h4>{{userprofile.person_gender}}</h4>
            <hr>-->
            <b>Email : </b><br>
            <h4>{{user.username}}</h4>
            <hr>
            <b>Phone Number : </b><br>
            <h4>{{userprofile.person_phone}}</h4>
            <hr>
            <b>PRN : </b><br>
            <h4>{{userprofile.person_prn}}</h4>
            <hr>
            <b>Room Number : </b><br>
            <h4>{{userprofile.person_room_number}}</h4>
            <hr>
        </div>
        {%endblock%}
    </div>

</div>

<script src="{% static 'sidebar/js/jquery.min.js' %}"></script>
<script src="{% static 'sidebar/js/popper.js' %}"></script>
<script src="{% static 'sidebar/js/bootstrap.min.js' %}"></script>
<script src="{% static 'sidebar/js/main.js' %}"></script>
</body>

<style>
    .testbox {
        margin-left: 15px;
        margin-top: 10px;
    }

    hr {
        color: #a9a9a9;
        opacity: 0.3;
    }

    b {
        text-transform: uppercase;
        color: #000000;
        font-size: 18px;
        font-weight: 800;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }


</style>
</html>