<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    {% load static %}

</head>
<body style="background-image:url('{% static 'images/background.jpg'%}')">

<nav class="navbar navbar-expand-sm fixed-top navbar-light">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="{% url 'hostel:home' %}"><span class="glyphicon glyphicon-home"
                                                                           aria-hidden="true"></span>&nbsp; Home</a>
                </li>
                <li><a href="{% url 'hostel:reg' %}"><span class="glyphicon glyphicon-registration-mark"
                                                           aria-hidden="true"></span>&nbsp; Register</a></li>
                <li><a href="user-admin"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp; Admin Login</a>


            </ul>
        </div>
    </div>
</nav>

<section id="welcome">
    <div class="welcome-container">
        <h1><em>Welcome</em><br></h1>
        <a href="{% url 'hostel:login' %}" class="btn-get-started">Explore</a>
    </div>
</section>


<style>

    .container-fluid {
        background: transparent;
    }

    #myNavbar {
        color: #000000;
    }

    #welcome {
        text-align: center;
        text-decoration-style: double;
        margin-top: 15%;
        vertical-align: middle;
    }

    li:hover {
        text-decoration: underline;
        font-size: 16px;
    }

    h1 {
        font-weight: 900;
        text-transform: uppercase;
    }

    body {
        background-size: 100%;
        background-attachment: fixed;
        background-repeat: no-repeat;

    }

    b {
        text-transform: uppercase;
        color: #000000;
        font-weight: 800;
        font-family: cursive, fantasy, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    em {
        font-weight: 900;
    }

    a {
        text-decoration: none;
        color: #000000;
    }

    a:hover {
        text-decoration: none;
        color: #000000;;
    }

    a.btn-get-started {
        font-family: "Poppins", Georgia, 'Times New Roman', Times, serif;
        text-transform: uppercase;
        font-weight: 550;
        font-size: 16px;
        letter-spacing: 1px;
        display: inline-block;
        padding: 8px 28px;
        border-radius: 50px;
        transition: 0.5s;
        margin: 10px;
        border: 2px solid #b3b1b1;
        color: black;
        text-decoration: none;
    }
</style>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</body>
</html>