<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load static %}
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet'
          type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

</head>
<body style="background-image:url('{% static 'images/background.jpg'%}')">


<div class="testbox" style="background-color: #ffffff;">
    <h1>Login</h1>

    <form action="login" method="post">
        {%csrf_token%}
        <hr>
        <label id="icon" for="username"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></label>
        <input type="email" name="username" id="username" placeholder="Email" required/>
        <label id="icon" for="password"><span class="glyphicon glyphicon-lock" aria-hidden="true"></label>
        <input type="password" name="password" id="password" placeholder="Password" required/>
        <a href="{% url 'password_reset' %}" class="forgotpass">Forgot Password?</a>
        <hr>
        <input type="submit" class="button" value="Login">
        <hr>
        <p>Don't have an account ?<a href="{% url 'hostel:reg' %}">Register</a>
          {% for message in messages %}

                    <div class="alert alert-success">
                        <a class="close" href="#" data-dismiss="alert">×</a>

                        {{ message }}

                    </div>
            {% endfor %}
        </p>
    </form>
</div>

<style>
    body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,
    pre, form, fieldset, input, textarea, p {
        padding: 0;
        margin: 0;
    }

    /* fieldset, img {border:0}

    ol, ul, li {list-style:none} */

    :focus {
        outline: none
    }

    body,
    input,
    textarea,
    select {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        color: #000000;
    }

    p {
        font-size: 16px;
        width: 300px;
        margin-top: 8px;
        display: inline;
        float: inline-end;
        font-weight: bold;
        margin-left: 18px;

    }

    h1 {
        font-size: 32px;
        font-weight: 300;
        color: #4c4c4c;
        text-align: center;
        padding-top: 10px;
        margin-bottom: 7px;
    }

    html {
        /* background-image: url('background.jpg'); */
        background-repeat: no-repeat;
        position: fixed;
        background-size: cover;
        width: 100%;
        height: 100%;
    }

    .testbox {

        margin: 50px auto;
        width: 350px;
        height: 425px;
        -webkit-border-radius: 8px/7px;
        -moz-border-radius: 8px/7px;
        border-radius: 8px/7px;
        /* background-color: #ebebeb;  */
        -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, .31);
        -moz-box-shadow: 1px 2px 5px rgba(0, 0, 0, .31);
        box-shadow: 1px 1px 4px rgba(0, 0, 0, .31);
        border: solid 1px #cbc9c9;
    }


    form {
        margin: 0 30px;
    }


    hr {
        color: #a9a9a9;
        opacity: 0.3;
    }

    input[type=password], input[type=email] {
        width: 220px;
        height: 40px;
        -webkit-border-radius: 0px 4px 4px 0px/5px 5px 4px 4px;
        -moz-border-radius: 0px 4px 4px 0px/0px 0px 4px 4px;
        border-radius: 0px 4px 4px 0px/5px 5px 4px 4px;
        background-color: #fff;
        -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
        -moz-box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
        box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
        border: solid 1px #cbc9c9;
        margin-left: -5px;
        margin-top: 13px;
        padding-left: 10px;
    }

    input[type=password] {
        margin-bottom: 10px;
    }

    #icon {
        display: inline-block;
        width: 45px;
        background-color: #000000;
        padding: 8px 0px 8px 15px;
        margin-left: 15px;
        -webkit-border-radius: 4px 0px 0px 4px;
        -moz-border-radius: 4px 0px 0px 4px;
        border-radius: 4px 0px 0px 4px;
        color: white;
        -webkit-box-shadow: 1px 2px 5px #b34d4d17;
        -moz-box-shadow: 1px 2px 5px #8d4500;
        box-shadow: 1px 2px 5px #8d4500;
        border: solid 0px #cbc9c9;
    }

    a.forgotpass {
        font-size: 14px;
        font-weight: 650;
        display: inline-block;
        float: right;
        /* color: #000000; */
        text-decoration: none;
        position: relative;
        margin-bottom: 15px;
    }

    .button {
        font-size: 14px;
        font-weight: 600;
        color: white;
        text-align: center;
        padding: 6px 25px 0px 20px;
        margin: 10px 8px 10px 0px;
        display: inline-block;
        float: none;
        text-decoration: none;
        width: 300px;
        height: 30px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background-color: #000000;
        -webkit-box-shadow: 0 3px #000000;
        -moz-box-shadow: 0 3px #000000;
        box-shadow: 0 3px #000000;
        transition: all 0.1s linear 0s;
        top: 0px;
        position: relative;
    }

    .button:hover {
        top: 3px;
        background-color: #292828;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;

    }


</style>


</body>
</html>