<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration page</title>

    {%  load static %}
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="{% static 'css/main.css'%}">

</head>

<body style="background-image:url('{% static 'images/background.jpg'%}')">

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-7">
            <div class="panel-body">
                <h1>Registeration</h1>
                <hr><hr>
                <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">

                    {% csrf_token %}
                    {% include 'hostel/form-template.html' %}

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                     <p>Already a user ? <a href="{% url 'hostel:login' %}"> Go Back</a></p>
<!--                    <p>Already a user ? <a href="userLogin.html"> Go Back</a></p>-->

                </form>
            </div>
        </div>
    </div>
</div>
</body>
<style>

.panel-body{
align-content: center;
 margin: 20px auto;
  width: 360px;
  height: 780px;
  -webkit-border-radius: 8px/7px;
  -moz-border-radius: 8px/7px;
  border-radius: 8px/7px;
  /* background-color: #ebebeb;  */
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
  box-shadow: 1px 1px 4px rgba(0,0,0,.31);
  border: solid 1px #cbc9c9;
  background-color:#FFFFFF;
}
#id_email,#id_password#id_email,#id_password,#id_first_name,#id_last_name,#id_gender,#id_phone,#id_prn,#id_room_number{
  width: 320px;
  height: 30px;
  -webkit-border-radius: 0px 4px 4px 0px/5px 5px 4px 4px;
  -moz-border-radius: 0px 4px 4px 0px/0px 0px 4px 4px;
  border-radius: 0px 4px 4px 0px/5px 5px 4px 4px;
  background-color: #fff;
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
  box-shadow: 1px 2px 5px rgba(0,0,0,.09);
  border: solid 1px #cbc9c9;
  margin-left: 15px;
  margin-top: 9px;
  margin-bottom:3px;
  padding-left: 10px;
}
button{
font-size: 14px;
  font-weight: 650;
  color: white;
  text-align: center;
  padding: 6px 25px 0px 20px;
  display: inline-block;
  float: none;
  text-decoration: none;
  width: 320px;
  height: 35px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #000000;
  -webkit-box-shadow: 0 3px #000000;
  -moz-box-shadow: 0 3px #000000;
  box-shadow: 0 3px #000000;
  transition: all 0.1s linear 0s;
  top: 0px;
  position: relative;
  margin-left: 15px;
  margin-top:30px;
  margin-bottom:50px;
}
label{
margin-top:5px;
font-weight:800;
}
</style>

</html>

