{% extends "hostel/dashboard.html" %}
{%block nav-home%}
<li>
    <a href="{%url 'hostel:postlogin'%}"><span class="fa fa-home mr-3"></span> Homepage</a>
</li>
{%endblock%}
{%block nav-dashboard%}
<li class="active">
    <a href="{%url 'hostel:update' %}"><span class="fa fa-user mr-3"></span> Dashboard</a>
</li>
{%endblock%}
{%block header%}
<h2 class="mb-4">UPDATE INFO</h2>
{%endblock%}
{%block content%}
<div>
    <form action="" method="post">
        {%csrf_token%}
        <div class="testbox">
            <b>First Name :</b><br>
            <h4>{{user.first_name}}</h4>
            <hr>
            <b>Last Name : </b><br>
            <h4>{{user.last_name}}</h4>
            <hr>
            <b>Gender : </b><br>
            <h4>{{userprofile.person_gender}}</h4>
            <hr>
            <b>Email : </b><br>
            <h4>{{user.username}}</h4>
            <hr>
            <b>Phone Number : </b><br>
            <h4>{{userprofile.person_phone}}</h4>
            <hr>
            <b>PRN : </b><br>
            <h4>{{userprofile.person_prn}}</h4>
            <hr>
            <b>Room Number : </b><br>
            <h4>{{userprofile.person_room_number}}</h4>
            <hr>
        <p>
            <button class="submitbtn" type="Submit" >Submit</button>
        </p>
    </form>

</div>

<style>

    <style>
    input {
        background-color: #e0e0e0;
    }

    .submitbtn {
        font-size: 14px;
        font-weight: 650;
        color: white;
        text-align: center;
        padding: 6px 25px 0px 20px;
        display: inline-block;
        text-decoration: none;
        width: 250px;
        height: 35px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background-color: #1def45;
        -webkit-box-shadow: 0 3px #4eb145;
        -moz-box-shadow: 0 3px #4eb144;
        box-shadow: 0 3px #4eb14e;
        transition: all 0.1s linear 0s;
        top: 0px;
        margin-left: 15px;
        margin-top: 30px;
        margin-bottom: 50px;
    }

    .submitbtn:hover {
        top: 3px;
        background-color: #1de21d;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        text-decoration: underline;
    }
</style>

{%endblock%}
