<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>

    {% load static %}
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet'
          type='text/css'>

    <link rel="stylesheet" href="{% static 'css/main.css'%}">
</head>

<body style="background-image:url('{% static 'images/background.jpg'%}')">
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-7">
            <div class="panel-body">
                <h1>Login</h1>
                <hr>
                <hr>
                <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                    <br>
                    {% csrf_token %}
                    {% include 'hostel/form-template.html' %}
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                    <p>Don't have an account ? <a href="register"> Register</a></p>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
